page-home {
    .logbtn{
        display: flex;
        flex-direction: row;
    }

    .btn1{
        flex: 1;   
    }

    .btn2{
        flex: 1;    
    }

    .regbut{
        width: 140px
    }
    .logbut{
        width: 140px
    }

    .reset{
       font-size: 90%
    }

    ion-content{
        background: linear-gradient(to bottom, #007991, #78ffd6);
        //background: linear-gradient(to bottom, #bc4e9c, #f80759);
        //background: linear-gradient(to bottom, #f857a6, #ff5858);
    }

    .item.item-input {
        background-color: transparent;
    }

    .login{
        background-color: transparent;
        text-align: center;
        color: white;
    }
}