page-home {
    .logbtn{
        display: flex;
        flex-direction: row;
    }

    .btn1{
        flex: 1;
        
        
    }

    .btn2{
        flex: 1;
        
        
    }

    .regbut{
        width: 140px
    }
    .logbut{
        width: 140px
    }
}