page-intro {
    .swiper-pagination-bullet-active {
        background: #A713E8;
      }

      .check{
          display: flex;
      }

      .button-inner{
          background-color: transparent
      }
}
